<!doctype html>
<html>

<head>
    <title>card-game-server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />
</head>
<!--
    アイコン
    https://material.io/resources/icons/?icon=chat&style=outline
-->

<body>
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <span class="mdc-top-app-bar__title">Card game server</span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                <button id="logout" class="material-icons mdc-top-app-bar__action-item mdc-icon-button">
                    <!-- ログアウトアイコン -->
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24"
                        viewBox="0 0 24 24" width="24">
                        <g>
                            <path d="M0,0h24v24H0V0z" fill="none" />
                        </g>
                        <g>
                            <path
                                d="M17,8l-1.41,1.41L17.17,11H9v2h8.17l-1.58,1.58L17,16l4-4L17,8z M5,5h7V3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h7v-2H5V5z" />
                        </g>
                    </svg>
                </button>
            </section>
        </div>
    </header>
    <main id="message" class="mdc-top-app-bar--fixed-adjust">
        <span id="user-name"></span>
        <span id="user-name-info"></span>
    </main>
    <div id="firebaseui-auth-container"></div>
    <!-- [START gae_flex_websockets_form] -->
    <div id="content" style="display: none;">
        <div id="room-container">
            <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                <!-- 家アイコン -->
                <span class="mdc-text-field__ripple">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M12 5.69l5 4.5V18h-2v-6H9v6H7v-7.81l5-4.5M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3z" />
                    </svg>
                </span>
                <input id="roomName" class="mdc-text-field__input" type="text" placeholder="ルーム名" aria-label="Label">
                <span class="mdc-line-ripple"></span>
            </label>
            <button class="mdc-button foo-button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label" id="enter">入室</span>
            </button>
        </div>
        <div class="chat-container">
            <p>ロビーチャット</p>
            <form id="chat-form">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M4 4h16v12H5.17L4 17.17V4m0-2c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2H4zm2 10h8v2H6v-2zm0-3h12v2H6V9zm0-3h12v2H6V6z" />
                </svg>
                <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                    <span class="mdc-text-field__ripple"></span>
                    <input id="chat-area" class="mdc-text-field__input" type="text" placeholder="Placeholder text" aria-label="Label">
                    <span class="mdc-line-ripple"></span>
                </label>
                <button class="mdc-button foo-button">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label" id="say">投稿</span>
                </button>
            </form>
        </div>
    </div>
    <div>
        <p>Messages:</p>
        <ul id="chat-response"></ul>
    </div>

    <div>
        <p>Status:</p>
        <ul id="chat-status"></ul>
    </div>
    <!-- [END gae_flex_websockets_form] -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        // [START gae_flex_websockets_js]
        $(function () {
            // Your web app's Firebase configuration
            var firebaseConfig = {
                apiKey: "AIzaSyDtTsZfT7Per3CipTRyBVsB8hEyKvN_gtk",
                authDomain: "sonuma-9e2af.firebaseapp.com",
                databaseURL: "https://sonuma-9e2af.firebaseio.com",
                projectId: "sonuma-9e2af",
                storageBucket: "sonuma-9e2af.appspot.com",
                messagingSenderId: "360047546627",
                appId: "1:360047546627:web:14c2cccb6e3b9bc07a9936"
            };
            var userId = '';
            var userName = '';
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            var ui = new firebaseui.auth.AuthUI(firebase.auth());
            var uiConfig = {
                signInOptions: [
                    firebase.auth.EmailAuthProvider.PROVIDER_ID
                ],
                callbacks: {
                    signInSuccessWithAuthResult: function (authResult, redirectUrl) {
                        return true;
                    },
                    uiShown: function () { },
                },
                signInFlow: 'popup',
                signInSuccessUrl: '.',
            }

            firebase.auth().onAuthStateChanged((user) => {
                if (user) {
                    // User is signed in, see docs for a list of available properties
                    // https://firebase.google.com/docs/reference/js/firebase.User
                    userId = user.uid;
                    userName = user.displayName;
                    document.cookie = `userId=${user.uid}`
                    document.cookie = `userName=${user.displayName}`
                    console.log(user);
                    console.log(`logged in as ${userId}(${userName})`)
                    document.querySelector('span#user-name').innerHTML = user.displayName;
                    document.querySelector('span#user-name-info').innerHTML = ' としてログイン中.';
                    document.querySelector('div#content').style.display = 'block';
                    // ...
                } else {
                    console.log(`Signed out`)
                    // User is signed out
                    // ...
                    document.cookie = `userId=`
                    document.cookie = `userName=`
                    ui.start('#firebaseui-auth-container', uiConfig);
                    document.querySelector('span#user-name').innerHTML = ''
                    document.querySelector('span#user-name-info').innerHTML = 'ログインしてください.'
                    document.querySelector('div#content').style.display = 'none';
                }
            });

            var logoutButton = document.querySelector('Button#logout');
            logoutButton.addEventListener('click', () => {
                firebase.auth().signOut().then(() => {
                    alert('ログアウトしました');
                    location.href = '.'
                })
                    .catch((error) => {
                        console.log(`ログアウト時にエラーが発生しました (${error})`);
                    });
            });

            var scheme = window.location.protocol == "https:" ? 'wss://' : 'ws://';
            var webSocketUri = scheme
                + window.location.hostname
                + (location.port ? ':' + location.port : '')
                + '/message';

            /* Get elements from the page */
            var form = $('#chat-form');
            var chatArea = $('#chat-area');

            var output = $('#chat-response');
            var status = $('#chat-status');

            /* Helper to keep an activity log on the page. */
            function log(text) {
                status.append($('<li>').text(text))
            }

            /* Establish the WebSocket connection and register event handlers. */
            var websocket = new WebSocket(webSocketUri);

            websocket.onopen = function () {
                log('Connected');
            };

            websocket.onclose = function () {
                log('Closed');
            };

            websocket.onmessage = function (e) {
                log('Message received');
                output.append($('<li>').text(e.data));
            };

            websocket.onerror = function (e) {
                log('Error (see console)');
                console.log(e);
            };

            function getTimeString() {
                const date1 = new Date();
                const date2 = date1.getFullYear() + "/" + 
				(date1.getMonth() + 1)  + "/" + 
				('00' + date1.getDate()).slice(-2) + " " + 
				('00' + date1.getHours()).slice(-2) + ":" + 
				('00' + date1.getMinutes()).slice(-2) + ":" + 
				('00' + date1.getSeconds()).slice(-2);
                return date2
            }

            /* Handle form submission and send a message to the websocket. */
            form.submit(function (e) {
                e.preventDefault();
                var message = "[" + getTimeString() + "] " + userName + ": " + chatArea.val();
                websocket.send(message);
                chatArea.val('');
                console.log(document.cookie);
            });

            setInterval(function() {
                // keep-aliveをする
                websocket.send('PING');
                console.log('send ping');
            }, 10000);
        });
    // [END gae_flex_websockets_js]
    </script>
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-firestore.js"></script>
</body>

</html>